#!/bin/sh

# A sample post-deploy hook
#
# These environment variables are available:
# PNMX_RECORDED_AT
# PNMX_PERFORMER
# PNMX_VERSION
# PNMX_HOSTS
# PNMX_ROLE (if set)
# PNMX_DESTINATION (if set)
# PNMX_RUNTIME

echo "$PNMX_PERFORMER deployed $PNMX_VERSION to $PNMX_DESTINATION in $PNMX_RUNTIME seconds"
